    <!--Page Wrapper starts-->
    <div class="page-wrapper">


        {{>index/_hero-section}}

        <div class="mar-top-20"></div>
        
        {{>index/_projects}}
        {{>index/_properties}}

        <!--
        <div class="blog-posts v1 pad-bot-60 pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h2 class="section-title v1">Popular Posts</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card single-blog-item v1">
                            <img src="/index/images/blog/news_7.jpg" alt="...">
                            <a href="#" class="blog-cat btn v6 red">Hotel</a>
                            <div class="card-body">
                                <h4 class="card-title"><a href="single-news-one.html">Top 10 Homestay in London That you don't miss out</a></h4>
                                <div class="bottom-content">
                                    <p class="date">Sep 28th , 2018 by <a href="#" class="text-dark">Louis Fonsi</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card single-blog-item v1">
                            <img src="/index/images/blog/news_8.jpg" alt="...">
                            <a href="#" class="blog-cat btn v6 red">Restaurant</a>
                            <div class="card-body">
                                <h4 class="card-title"><a href="single-news-one.html">Cappuccino Coffee at Broklyn for Coffee Lover.</a></h4>
                                <div class="bottom-content">
                                    <p class="date">Dec 5th , 2018 by <a href="#" class="text-dark">Adam D'Costa</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card single-blog-item v1">
                            <img src="/index/images/blog/news_9.jpg" alt="...">
                            <a href="#" class="blog-cat btn v6 red">Travel</a>
                            <div class="card-body">
                                <h4 class="card-title"><a href="single-news-one.html">Top 50 Greatest Street Arts in Paris</a></h4>
                                <div class="bottom-content">
                                    <p class="date">Mar 13th , 2018 by <a href="#" class="text-dark">Mark Henri</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
      
    </div>
    <!--Page Wrapper ends-->