<div class="hero v1 section-padding bg-zoom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center search-head">
        <h1 class="hero__title buy-tab">
          What's Your Plan To Buy Today ?
        </h1>
        <h1 class="hero__title rent-tab">
          Want To Get Something On Rent?
        </h1>
        <h1 class="hero__title wanted-tab">
          Looking For Something Different?
        </h1>
        <h1 class="hero__title projects-tab">
          Explore great Projects.
        </h1>
        <p class="hero__description">
          All the top properties – from shops and apartments, to plots, villas
          and more..
        </p>
      </div>
      <div class="col-md-12 text-center mar-top-20">
        <ul class="hero__list">
          <li class="hero__list-item">
            <a class="buy active-list" href="#">Buy
              <i class="icofont-google-map" aria-hidden="true"></i></a>
          </li>
          <li class="hero__list-item">
            <a class="rent" href="#">Rent<i class="icofont-google-map"></i></a>
          </li>
          <li class="hero__list-item">
            <a class="wanted" href="#">Wanted<i
                class="icofont-google-map"
              ></i></a>
          </li>
          <li class="hero__list-item">
            <a class="projects" href="#">Projects<i
                class="icofont-list"
              ></i></a>
          </li>
        </ul>
        <form
          class="hero__form v1 bg-white"
          action="listing-view.php"
          target="_blank"
        >
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <input
                class="hero__form-input custom-select"
                type="text"
                name="place-event"
                id="place-event"
                placeholder="What are you looking for?"
              />

            </div>
            <div class="col-lg-3 col-md-12">
              <select class="hero__form-input custom-select">
                <option>Select Location </option>
                <option>New York</option>
                <option>California</option>
                <option>Washington</option>
                <option>New Jersey</option>
                <option>Los Angeles</option>
                <option>Florida</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-12">
              <select class="hero__form-input custom-select">
                <option>Select Categories</option>
                <option>Art's</option>
                <option>Health</option>
                <option>Hotels</option>
                <option>Real Estate</option>
                <option>Rentals</option>
              </select>
            </div>
            <div class="col-lg-2 col-md-12">
              <div class="submit_btn text-right md-left">
                <button class="btn v3 text-right" type="submit"><i
                    class="ion-search"
                    aria-hidden="true"
                  ></i>
                  Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>