<div class="trending-places section-padding pad-bot-130">
  <div class="container-custom">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2 class="section-title v1">Premium Properties</h2>
      </div>
      <div class="col-md-12">
        <div class="swiper-container trending-place-wrap">
          <div class="swiper-wrapper">
            <div class="swiper-slide trending-place-item premium">
              <div class="trending-img">
                <img
                  src="/index/images/listings/listing-img.jpg"
                  alt="#"
                  class="wm"
                />
                <span class="trending-rating">PKR 85 Lakh</span>
                <span class="save-btn"><i class="icofont-heart"></i></span>
              </div>
              <div class="trending-title-box">
                <h4><a href="property-details">235 Sq. Yard Villa Is
                    Available For Sale In Precinct 27</a></h4>
                <div class="customer-review">
                  <div class="rating-summary float-left">
                    <div class="rating-result" title="60%">
                      <ul class="product-rating">
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="review-summury float-right">
                    <p><a href="#">3 Reviews</a></p>
                  </div>
                </div>
                <ul class="trending-address">
                  <li><i class="ion-ios-location"></i>
                    <p>1690 Brown Avenue,Barline</p>
                  </li>
                  <li><i class="ion-ios-telephone"></i>
                    <p>+864-940-3419</p>
                  </li>
                  <li><i class="ion-android-globe"></i>
                    <p>www.thaishow.com</p>
                  </li>
                </ul>
                <div class="trending-bottom mar-top-15 pad-bot-30">
                  <div class="trend-left float-left">
                    <span class="p-listingv2"><a href="#"><i
                          class="icofont-diamond"
                        ></i>
                        Premium Property</a></span>
                  </div>
                  <div class="trend-right float-right">
                    <div class="trend-open"><div class="agent-list-img"><img
                          src="/index/images/agents/agent1.png"
                          alt=""
                          class="img-inner-agent"
                        /></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide trending-place-item">
              <div class="trending-img">
                <img
                  src="/index/images/listings/listing-img.jpg"
                  alt="#"
                  class="wm"
                />
                <span class="trending-rating">PKR 85 Lakh</span>
                <span class="save-btn"><i class="icofont-heart"></i></span>
              </div>
              <div class="trending-title-box">
                <h4><a href="listing-details.php">235 Sq. Yard Villa Is
                    Available For Sale In Precinct 27</a></h4>
                <div class="customer-review">
                  <div class="rating-summary float-left">
                    <div class="rating-result" title="60%">
                      <ul class="product-rating">
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="review-summury float-right">
                    <p><a href="#">3 Reviews</a></p>
                  </div>
                </div>
                <ul class="trending-address">
                  <li><i class="ion-ios-location"></i>
                    <p>1690 Brown Avenue,Barline</p>
                  </li>
                  <li><i class="ion-ios-telephone"></i>
                    <p>+864-940-3419</p>
                  </li>
                  <li><i class="ion-android-globe"></i>
                    <p>www.thaishow.com</p>
                  </li>
                </ul>
                <div class="trending-bottom mar-top-15 pad-bot-30">
                  <div class="trend-left float-left">
                    <span class="p-listingv2"><a href="#"><i
                          class="icofont-building-alt"
                        ></i>
                        Standard Property</a></span>
                  </div>
                  <div class="trend-right float-right">
                    <div class="trend-open"><div class="agent-list-img"><img
                          src="/index/images/agents/agent1.png"
                          alt=""
                          class="img-inner-agent"
                        /></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide trending-place-item">
              <div class="trending-img">
                <img
                  src="/index/images/listings/listing-img.jpg"
                  alt="#"
                  class="wm"
                />
                <span class="trending-rating">PKR 85 Lakh</span>
                <span class="save-btn"><i class="icofont-heart"></i></span>
              </div>
              <div class="trending-title-box">
                <h4><a href="listing-details.php">235 Sq. Yard Villa Is
                    Available For Sale In Precinct 27</a></h4>
                <div class="customer-review">
                  <div class="rating-summary float-left">
                    <div class="rating-result" title="60%">
                      <ul class="product-rating">
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="review-summury float-right">
                    <p><a href="#">3 Reviews</a></p>
                  </div>
                </div>
                <ul class="trending-address">
                  <li><i class="ion-ios-location"></i>
                    <p>1690 Brown Avenue,Barline</p>
                  </li>
                  <li><i class="ion-ios-telephone"></i>
                    <p>+864-940-3419</p>
                  </li>
                  <li><i class="ion-android-globe"></i>
                    <p>www.thaishow.com</p>
                  </li>
                </ul>
                <div class="trending-bottom mar-top-15 pad-bot-30">
                  <div class="trend-left float-left">
                    <span class="p-listingv2"><a href="#"><i
                          class="icofont-building-alt"
                        ></i>
                        Standard Property</a></span>
                  </div>
                  <div class="trend-right float-right">
                    <div class="trend-open"><div class="agent-list-img"><img
                          src="/index/images/agents/agent1.png"
                          alt=""
                          class="img-inner-agent"
                        /></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide trending-place-item">
              <div class="trending-img">
                <img
                  src="/index/images/listings/listing-img.jpg"
                  alt="#"
                  class="wm"
                />
                <span class="trending-rating">PKR 85 Lakh</span>
                <span class="save-btn"><i class="icofont-heart"></i></span>
              </div>
              <div class="trending-title-box">
                <h4><a href="listing-details.php">235 Sq. Yard Villa Is
                    Available For Sale In Precinct 27</a></h4>
                <div class="customer-review">
                  <div class="rating-summary float-left">
                    <div class="rating-result" title="60%">
                      <ul class="product-rating">
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="review-summury float-right">
                    <p><a href="#">3 Reviews</a></p>
                  </div>
                </div>
                <ul class="trending-address">
                  <li><i class="ion-ios-location"></i>
                    <p>1690 Brown Avenue,Barline</p>
                  </li>
                  <li><i class="ion-ios-telephone"></i>
                    <p>+864-940-3419</p>
                  </li>
                  <li><i class="ion-android-globe"></i>
                    <p>www.thaishow.com</p>
                  </li>
                </ul>
                <div class="trending-bottom mar-top-15 pad-bot-30">
                  <div class="trend-left float-left">
                    <span class="p-listingv2"><a href="#"><i
                          class="icofont-building-alt"
                        ></i>
                        Standard Property</a></span>
                  </div>
                  <div class="trend-right float-right">
                    <div class="trend-open"><div class="agent-list-img"><img
                          src="/index/images/agents/agent1.png"
                          alt=""
                          class="img-inner-agent"
                        /></div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide trending-place-item">
              <div class="trending-img">
                <img
                  src="/index/images/listings/listing-img.jpg"
                  alt="#"
                  class="wm"
                />
                <span class="trending-rating">PKR 85 Lakh</span>
                <span class="save-btn"><i class="icofont-heart"></i></span>
              </div>
              <div class="trending-title-box">
                <h4><a href="listing-details.php">235 Sq. Yard Villa Is
                    Available For Sale In Precinct 27</a></h4>
                <div class="customer-review">
                  <div class="rating-summary float-left">
                    <div class="rating-result" title="60%">
                      <ul class="product-rating">
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                        <li><i class="ion-android-star-half"></i></li>
                      </ul>
                    </div>
                  </div>
                  <div class="review-summury float-right">
                    <p><a href="#">3 Reviews</a></p>
                  </div>
                </div>
                <ul class="trending-address">
                  <li><i class="ion-ios-location"></i>
                    <p>1690 Brown Avenue,Barline</p>
                  </li>
                  <li><i class="ion-ios-telephone"></i>
                    <p>+864-940-3419</p>
                  </li>
                  <li><i class="ion-android-globe"></i>
                    <p>www.thaishow.com</p>
                  </li>
                </ul>
                <div class="trending-bottom mar-top-15 pad-bot-30">
                  <div class="trend-left float-left">
                    <span class="p-listingv2"><a href="#"><i
                          class="icofont-building-alt"
                        ></i>
                        Standard Property</a></span>
                  </div>
                  <div class="trend-right float-right">
                    <div class="trend-open"><div class="agent-list-img"><img
                          src="/index/images/agents/agent1.png"
                          alt=""
                          class="img-inner-agent"
                        /></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="trending-pagination"></div>
      </div>
    </div>
  </div>
</div>