                <div class="user-menu">
                  <div class="user-heading header-button-item js-sidebar-btn">
                    <span class="user-hi">
                      <strong>{{sessionData.name}}</strong>
                      <i class="ion-arrow-down-b"></i>
                    </span>
                  </div>
                  <div class="setting-menu js-right-sidebar d-lg-block">
                    <div class="account-dropdown__body">
                      <div class="account-dropdown__item">
                        <a
                          href="user-profile-3.php#projects-list"
                          class="projects-list-btn"
                        >
                          <i class="ion-social-buffer-outline"></i>My Projects
                          (23)
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a
                          href="user-profile-3.php#active-list"
                          class="active-list-btn"
                        >
                          <i class="ion-ios-checkmark-outline"></i>Active
                          Listings (23)
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a
                          href="user-profile-3.php#pending-list"
                          class="pending-list-btn"
                        >
                          <i class="ion-ios-information-outline"></i>Pending
                          Listings (15)
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a
                          href="user-profile-3.php#expired-list"
                          class="expired-list-btn"
                        >
                          <i class="ion-ios-close-outline"></i>Expired Listings
                          (15)
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a
                          href="user-profile-3.php#favourite-list"
                          class="favourite-list-btn"
                        >
                          <i class="ion-ios-heart-outline"></i>Favourite
                          Listings (15)
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="user-profile-3.php">
                          <i class="ion-ios-person-outline"></i>My Profile
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="edit-profile.php">
                          <i class="ion-ios-gear-outline"></i>Settings
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="inbox.php">
                          <i class="ion-ios-email-outline"></i>Inbox
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="insights.php">
                          <i class="ion-ios-analytics-outline"></i>Insights
                        </a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="logout">
                          <i class="ion-ios-upload-outline"></i>Logout
                        </a>
                      </div>
                    </div>
                  </div>
                </div>